
$unit: 18px;
$unitrem: 1.8rem;
$copy_line_height: 1.8125;

$purple: #563d7c;
$copy_color: #444;
$copy_light: #666;
$copy_ultralight: #999;



// normalize and set smart defaults
@import "base/normalize";
@import "base/defaults";

//Theme things
@import "theme/type";

.coolgrunts {
	padding: 3em;
	margin: 0 auto 0 auto;
	color: $copy_color;
	max-width: 800px;
	background:#FFF;
	img {
		max-width: 100%;
		text-align: center;
		margin:0 auto 0 auto;
		display: block;
		height:280px;
	}
}

.header {
	background: $purple;
	padding: 5rem  0 10rem 0;
	text-align: center;
	.hero {
		color: #FFF; 
		font-size: $unit*5;
  		font-size: $unitrem*5;
  		font-weight: 800;
	}
	ul {
		list-style: none;
		li {
			display: inline;
			a { 
				margin: 0 1rem 0 0;
				color:#fff;
				text-decoration: none;
				padding:1rem;
				&:hover {
					background:#EEE;
					color: $purple;
				}
			}
		}
	}
}


.intro {
	font-style:italic;
	font-weight:300;
	color:#666;
	margin-top:0;
	font-size:$unit;
	font-size: $unitrem;
	line-height: $copy_line_height
}