
// normalize and set smart defaults
@import "compass";
@import "base/variables";
@import "base/normalize";
@import "base/defaults";

//Theme things
@import "theme/type";

.coolgrunts {
	padding: 3em;
	margin: 0 auto 0 auto;
	color: $copy_color;
	max-width: 800px;
	background:#FFF;
	img {
		max-width: 100%;
		text-align: center;
		margin:0 auto 0 auto;
		display: block;
	}

	figcaption {
		font-family:$san_serif;
		color: $copy_ultralight;
		text-align: center;
		@include font-size(.75);
	}
	blockquote {
		border-left:6px solid #EEE;
		padding: 0 40px;
		margin-left:0;
		margin-right:0;
		color: $copy_light;
	}

	.intro {
		font-style:italic;
		font-weight:300;
		color:#666;
		margin-top:0;
		@include font-size(1.25);
		line-height: $copy_line_height;
	}
}


.nav-primary{
	.menu-icon {display:none;}
}
.header {
	background: $purple url('/build/img/purple.gif');
	padding: 8rem  0 8rem 0;
	text-align: center;
	.hero {
		color: #FFF; 
		@include font-size(3.5);
  		font-weight: 800;
	}
}





.ampersand {
	font-family: Baskerville,GoudyBookletter1911,"Goudy Old Style",Palatino,"Book Antiqua",serif;
	font-style: italic;
}

