
$unit: 18px;
$unitrem: 1.8rem;
$copy_line_height: 1.8125;

$purple: #563d7c;
$copy_color: #444;
$copy_light: #666;
$copy_ultralight: #999;


$san_serif: 'Open Sans', helvetica, arial, sans-serif;;
$serif: Merriweather, georgia, serif;


@mixin font-size($sizeValue: 1.6) {
  $sizeValue: $sizeValue * 1.8;
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
